{{define "T"}}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Content</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        /* Add your existing styles here */
        /* ... Paste the entire content of /styles/style.css here ... */

        /* Add new styles for the form in the editContent section */
        .editContent {
            position: absolute;
            width: 80%;
            background: #222;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
            border-radius: 4px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
        }

        .editContent .content {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 40px;
        }

        .editContent h2 {
            font-size: 2em;
            color: #0f0;
            text-transform: uppercase;
        }

        .editContent .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .editContent .form .inputBox {
            position: relative;
            width: 100%;
        }

        .editContent .form .inputBox textarea {
            width: 100%;
            background: #333;
            border: none;
            outline: none;
            padding: 25px 10px 7.5px;
            border-radius: 4px;
            color: #fff;
            font-weight: 500;
            font-size: 1em;
        }

        .editContent .form .inputBox i {
            position: absolute;
            left: 0;
            padding: 15px 10px;
            font-style: normal;
            color: #aaa;
            transition: 0.5s;
            pointer-events: none;
        }

        .editContent .form .inputBox textarea:focus ~ i,
        .editContent .form .inputBox textarea:valid ~ i {
            transform: translateY(-7.5px);
            font-size: 0.8em;
            color: #fff;
        }

        .editContent .form .inputBox textarea {
            width: 100%;
            background: #333;
            border: none;
            outline: none;
            padding: 25px 10px 7.5px;
            border-radius: 4px;
            color: #fff;
            font-weight: 500;
            font-size: 1em;
            resize: none; /* Disable textarea resizing */
            height: 600px; /* Adjust the height as needed */
        }


        input[type="submit"]:active {
            opacity: 0.6;
        }
    </style>
</head>

<body>
    <section>
        <div class="editContent">
            <div class="content">
                <h2>Edit Content</h2>
                <p style="color: #fff;">Front page editing form.</p>
                <form class="form" action="/admin/editContent" method="POST">
                    <div class="inputBox">
                        <textarea name="content" required>{{.}}</textarea>
                        <i>Edit Text</i>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Save Changes">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>
{{end}}
