.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 1145px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  flex-direction: column;
}
.home-main {
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container1 {
  flex: 1;
  width: 1198px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/looney-tunes-1.svg");
  background-position: center;
}
.home-textinput {
  color: white;
  width: 341px;
  height: 79px;
  transition: 0.3s;
  border-style: hidden;
}

.home-quick-view {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  height: 480px;
  display: flex;
  padding: 41px;
  z-index: 4000;
  max-width: 100%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ff764e;
}
.home-main1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  color: rgb(53, 43, 42);
  height: 186px;
  font-size: 60px;
  align-self: center;
  text-align: center;
  font-family: "LooneyTunesBT-Tilt";
  font-weight: 700;
  line-height: 60px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-caption {
  color: rgb(0, 0, 0);
  font-size: 18px;
  max-width: 600px;
  text-align: center;
  font-family: "LooneyTunesBT-Tilt";
  line-height: 27px;
  text-transform: capitalize;
}
.home-image {
  width: 200px;
  align-self: center;
  object-fit: cover;
}
.home-form {
  width: 200px;
  height: 100px;
  display: flex;
}
@media(max-width: 991px) {
  .home-container1 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-quick-view {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home-main {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-quick-view {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
