.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container1 {
  width: 562px;
  height: 850px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/nope-600w.png");
  background-position: center;
}
.home-text {
  color: #ff0000;
  width: 362px;
  height: 571px;
  font-size: 3em;
  align-self: center;
  text-align: center;
  font-family: "LooneyTunesBT-Tilt";
}
