.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-find {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 1009px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: 74px;
  background-color: #ff0000;
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container1 {
  flex: 0 0 auto;
  width: 1173px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image {
  width: 826px;
  height: 374px;
  align-self: flex-start;
  object-fit: cover;
}
.home-header {
  color: rgb(0, 0, 0);
  font-size: 50px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "LooneyTunesBT-Tilt";
  font-weight: 700;
  line-height: 60px;
}
.home-container3 {
  display: contents;
}
@media(max-width: 767px) {
  .home-find {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-header {
    font-size: 32px;
    line-height: 31px;
  }
}
